<div class="testimonials">
  <h2>What Our Customers Say</h2>
  <div class="cards">
    <div class="card">
      <div class="text">
        <h3>“The best restaurant”</h3>
        <p>Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.</p>
      </div>
      <div class="account">
        <img src="/images/test1.svg"/>
        <div class="account-text">
            <h5>Sophire Robson</h5>
            <h6>Los Angeles, CA</h6>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="text">
        <h3>“Simply delicious”</h3>
        <p>Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.</p>
      </div>
      <div class="account">
        <img src="/images/test2.svg"/>
        <div class="account-text">
            <h5>Matt Cannon</h5>
            <h6>San Diego, CA</h6>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="text">
        <h3>“One of a kind restaurant”</h3>
        <p>The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.</p>
      </div>
      <div class="account">
        <img src="/images/test3.svg"/>
        <div class="account-text">
            <h5>Andy Smith</h5>
            <h6>San Francisco, CA</h6>
        </div>
      </div>
    </div>
  </div>
</div>
