<div class="footer">
  <div class="col">
    <div class="col-1">
      <span
        ><img src="/images/japanese-foodf.svg" />
        <h3>Bistro Bliss</h3></span
      >
      <p>
        In the new era of technology we look a in the future with certainty and
        pride to for our company and.
      </p>
      <ul class="links">
        <li class="link"><a href=""><img src="/images/1f.svg" alt="" /></a></li>
        <li class="link"><a href=""><img src="/images/2f.svg" alt="" /></a></li>
        <li class="link"><a href=""><img src="/images/3f.svg" alt="" /></a></li>
        <li class="link"><a href=""><img src="/images/4f.svg" alt="" /></a></li>
      </ul>
    </div>
    <div class="col-2">
        <h4>Pages</h4>
        <ul class="links">
        <li class="link"><a href="">Home</a></li>
        <li class="link"><a href="">About</a></li>
        <li class="link"><a href="">Menu</a></li>
        <li class="link"><a href="">Pricing</a></li>
        <li class="link"><a href="">Blog</a></li>
        <li class="link"><a href="">Contact</a></li>
        <li class="link"><a href="">Delivery</a></li></ul>
    </div>
    <div class="col-3">
        <h4>Utility Pages</h4>
        <ul class="links">
        <li class="link"><a href="">Start Here</a></li>
        <li class="link"><a href="">Styleguide</a></li>
        <li class="link"><a href="">Password Protected</a></li>
        <li class="link"><a href="">404 Not Found</a></li>
        <li class="link"><a href="">Licenses</a></li>
        <li class="link"><a href="">Changelog</a></li>
        <li class="link"><a href="">View More</a></li></ul>
    </div>
    <div class="col-4">
        <h4>Follow Us On Instagram</h4>
        <div class="imgs-collection">
            <img src="/images/tl.png" alt=""><img src="/images/tr.png" alt=""><img src="/images/bl.png" alt=""><img src="/images/br.png" alt="">
        </div>
    </div>
  </div>
  <h4>Copyright © 2023 Hashtag Developer. All Rights Reserved</h4>
</div>
