<div class="cards">
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
    <div class="card">
        <img src="/images/egg.jpg" alt="" />
        <div class="text">
            <h5>$ 9.99</h5>
            <h6>Fried Eggs</h6>
            <p>Made with eggs, lettuce, salt, oil and other ingredients.</p>
        </div>
    </div>
</div>
