<div class="browse-menu">
    <h2>Browse Our Menu</h2>
    <div class="cards">
        <div class="card">
            <span><img src="/images/tea.svg"></span>
            <h3>Breakfast</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerLink="/menu-page">Explore Menu</a>
        </div>
        <div class="card">
            <img src="/images/dish.svg">
            <h3>Main Dishes</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerLink="/menu-page">Explore Menu</a>
        </div>
        <div class="card">
            <img src="/images/drink.svg">
            <h3>Drinks</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerLink="/menu-page">Explore Menu</a>
        </div>
        <div class="card">
            <img src="/images/dessert.svg">
            <h3>Desserts</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerLink="/menu-page">Explore Menu</a>
        </div>
    </div>
</div>
