* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-block: 8px;
    padding-inline: 26px;
    margin-bottom: 150px;
}
.nav-bar .nav-links .nav-link {
    display: inline;
    margin-inline-start: 26px;
    
}
.nav-bar .nav-links .nav-link a {
    text-decoration: none;
    color: #d8b454;
    font-size: 19px;
    position: relative;
}
.nav-bar .nav-links .nav-link a::after {
    content: '';
    position: absolute;
    margin-top: 2px;
    border: 1px solid #d8b454;
    display: block;
    left: 50%;
    width: 120%;
    transform: translateX(-50%) scaleX(0); 
    transition: transform  0.5s ease;
}
.nav-bar .nav-links .active a::after{
    transform: translateX(-50%) scaleX(1);
}
.nav-bar .nav-links .nav-link a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.nav-bar .logo {
    width: 50px;
    height: 50px;
}
.hero{
    display: flex;
    width: 80%;
    margin-inline: auto;
    justify-content: center;
    align-items: flex-start;
}

.hero .imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .imgs .viewed-img {
    width: 60%;
    min-width: 347px;
    margin-inline-start: 3rem;
}
.hero .imgs .slideshow {
    display: flex;
    flex-direction: column;
}
.hero .imgs .slideshow img {
    height: 100px;
    width: 60px;
    margin-bottom: 10px;
}
.hero .text{
    margin-top: 40px;
}
.hero .text h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 48px;
}
.hero .text h4 {
    margin-bottom: 32px;
}
footer{
    background-color: black;
}
footer .col .first-col .logo {
    width: 100px;
    height: 100px;
}

footer h3 ,footer h4 ,footer p {
    color: white;
}

