@font-face {
    font-family: DMSans-Regular;
    src: url("/fonts/DMSans_18pt-Regular.ttf");
}
@font-face {
    font-family: Play-Fair-SemiBoldItalic;
    src: url("/fonts/PlayfairDisplay-SemiBoldItalic.ttf");
}
@font-face {
    font-family: DMSans-Medium;
    src: url('/fonts/DMSans-Medium.ttf');
}
@font-face {
    font-family: DMSans-Bold;
    src: url('/fonts/DMSans-Bold.ttf');
}
@font-face {
    font-family: Play-Fair-Regular;
    src: url('/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: Play-Fair-Meduim;
    src: url('./../../public/fonts/PlayfairDisplay-Medium.ttf');
}