<div class="top-header">
  <div class="info">
    <span><img src="phone.svg" alt="" /><a href="">(414) 857 - 0107</a></span>
    <span><img src="mail.svg" alt=""/><a href="">yummy&#64;bistrobliss</a></span>
  </div>
  <div class="social">
    <ul class="social-links">
        <li class="social-link"><a href=""><span><img src="/images/1.svg" alt=""></span></a></li>
        <li class="social-link"><a href=""><span><img src="/images/2.svg" alt=""></span></a></li>
        <li class="social-link"><a href=""><span><img src="/images/3.svg" alt=""></span></a></li>
        <li class="social-link"><a href=""><span><img src="/images/4.svg" alt=""></span></a></li>
    </ul>
  </div>
</div>
