<div class="container">
    <div class="text">
        <h3>You can order through apps</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit enim bibendum
            sed et aliquet aliquet risus tempor semper.
        </p>
    </div>
    <div class="apps">
        <div class="app-row">
            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>

            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>
            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>
        </div>
        <div class="app-row">
            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>
            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>
            <div class="app">
                <img src="/images/panda.svg" alt="" />
            </div>
        </div>
        <div class="app-row">
        <div class="app">
            <img src="/images/panda.svg" alt="" />
        </div>
        <div class="app">
            <img src="/images/panda.svg" alt="" />
        </div>
        <div class="app">
            <img src="/images/panda.svg" alt="" />
        </div>
    </div>
    </div>
</div>
