<nav class="navbar">
    <div class="logo">
        <span><img src="/images/japanese-food.svg" alt="">
            <h3>Bistro Bliss</h3>
        </span>
    </div>
    <ul class="nav-links" >
   
        <li class="nav-link"><a routerLinkActive="active" routerLink="/home-page">Home</a></li>   
        <li class="nav-link"><a href="">About</a></li>   
        <li class="nav-link"><a href="">Menu</a></li>      
        <li class="nav-link"><a href="">Pages</a></li> 
        <li class="nav-link"><a routerLinkActive="active" routerLink="/contact-us">Contact</a></li>  
    </ul>
    <a class="book-btn" routerLink="/book-table">Book A Table</a>
</nav>