<app-top-header></app-top-header>
<section class="container">
  <app-nav></app-nav>
  <div class="contact-us">
    <div class="text">
      <h2>Contact Us</h2>
      <p>
        We consider all the drivers of change gives you the components you need
        to change to create a truly happens.
      </p>
    </div>
    <div class="form">
      <div class="name-email">
        <div class="name">
          <label for="name">Name</label>
          <input type="text" id="name" />
        </div>
        <div class="email">
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>
      </div>
      <div class="subject">
        <label for="subject">Subject</label>
        <input type="text" id="subject" />
      </div>
      <div class="message">
        <label for="message">Message</label>
        <textarea id="message"></textarea>
      </div>
      <input type="submit" value="Send"/>
    </div>
  </div>
  <div class="info">
    <div class="col-1">
      <h3>Call Us:</h3>
      <h2>+1-234-567-8900</h2>
    </div>
    <div class="col-2">
      <h3>Hours:</h3>
      <p>Mon-Fri: 11am - 8pm Sat, Sun: 9am - 10pm</p>
    </div>
    <div class="col-3">
      <h3>Our Location:</h3>
      <p>123 Bridge Street Nowhere Land, LA 12345 United States</p>
    </div>
  </div>
</section>
<footer>
  <app-footer></app-footer>
</footer>
